html,body{
    height: 100%;
    width: 100%;
}
#full_screen{
    width:101%;
    height: 91%;
    min-height: 400px;
}
#register{
    position:absolute;
    bottom: 10px;
    right:10px;
}
#sign_in{
    position:absolute;
    bottom: 10px;
    left:10px;
}
#input_form {
    width: 300px;
    height: 250px !important;
}
#list{
        background-color: yellowgreen;
        height:100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0 !important;
    }
#chat
    {
        height: 100%;
        padding: 0 !important;
    }
    #chat_room{
        background-color: wheat;
        height:80%;
        overflow-y: auto;
        overflow-x: auto  !important;
        
    }   
#public{
    background-color: yellow;
}
.list_item{
    background-color: yellowgreen;
    position: relative;
    text-align: left;
    font-size: 30px;
    font-family: Georgia, Times, serif;
    width:unset;
    word-break:break-all;
    overflow-x: hidden;
    padding-left: 20px;
    display: block;
}

#room_control{
    width:100%;
}
@keyframes text_ani{
    from{background-color: red;color: green;right:20px}
    to{background-color: aqua;color: black;right:0px}
}
@keyframes text_bor{
    from{background-color: darkblue;color: yellow;left:20px}
    to{background-color: lightgray;color: black;left:0px}
    
}
@keyframes note_pass{
    from{background-color: black;color: white;bottom:20px}
    to{background-color: orange;color: steelblue;bottom:0px}
}



.texting{
    background-color: lightgray;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    white-space:pre-wrap;
    word-break: break-all;
    align-self: center;
    text-align:left; 
    margin-right:auto;
}
.texting_me{
    background-color: aqua;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    align-self: center;
    white-space:pre-wrap;
    word-break: break-all;
    text-align:left; 
    margin-left:auto;
}
.name_me{
    align-self:center;
    text-align:left; 
    position: relative;
    margin-left:auto;
    white-space:pre-wrap;
    word-break: break-all;
}
.name{
    align-self:center;
    text-align:left; 
    position: relative;
    margin-right:auto;
    white-space:pre-wrap;
    word-break: break-all;
}
.block{
    width: 100%;
    display: flex;
    overflow:auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}
.block_me{
    width: 100%;
    display: flex;
    overflow:auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}
.notification{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow:auto;
    flex-wrap: wrap;
    align-items: center;
}
.message{
    background-color: orange;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    white-space:pre-wrap;
    word-break: break-all;
    text-align:center; 
    color:steelblue;
    margin:auto;
}
#comment_button
{
    position: relative;
    float:right;
    bottom: 40px;
}
#google_button{
    position: relative;
    left:20px;
    bottom: 10px;
}
.right{
    animation-name: text_ani;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
.left
{
    animation-name: text_bor;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
.top
{
    animation-name: note_pass;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

